extends includes/layout.pug

block content
    .container
        h5.center.title-section Nuestros Productos
        .container-products#allProducts
            each product in data
                .card.products-card#products
                    .card-image
                        img(src=product.img, alt="")
                    .card-content
                        p= product.name
                    .card-action
                        button(data-target="modal1").btn.brown.modal-trigger Ver más

    //- Modal structure
    #modal1.modal
        .modal-content
                
            .row
                .col.m6
                    h5= data[0].name
                    p= data[0].description
                    span Stock 
                    span= data[0].stock
                .col.m6
                    .card
                        img(src=`${data[0].img}` alt="").responsive-img.materialboxed
        .modal-footer
            a(href="#!").modal-close.wavees-effect.waves.brown.btn-flat.white-text Cerrar

    //- Form section
    .container
        .container-form
            .row.row-form
                .contact-img.col.s12.m6
                    //- h5 Cotiza nuestros productos
                    img(src="img/seller.png", alt="Imagen").img-form
                .contact-form.col.s12.m6
                    p.title-form FORMULARIO
                    .row
                      .input-field.col.s12
                        input(type="text")#name.validate
                        label(for="name") Nombres
                    .row
                      .input-field.col.s12
                        input(type="text")#last_name.validate
                        label(for="last_name") Apellidos
                    .row
                      .input-field.col.s12
                        input(type="email")#email.validate
                        label(for="email") Email
                    .row.container-btn-form
                      a(href="#").waves-effect.waves-light.btn.red.darken-4.btn-form Enviar